body {
  background: url(./images/alberta.jpg);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: cursive;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.header h1{
  color: orange;
  font-size: 40px;
}

#container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

img {
  width: 300px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  gap: 30px;
}

.text {
  font-size: 28px;
  font-weight: 700;
  color: white;
}

button{
  background: transparent;
  border: 0;
  padding: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  font-size: 17px;
  color: orange;
}
